VITE_SUPABASE_URL=https://supabase.com/dashboard/project/qnhlugcjrolicfeijafs/settings/api-keys/legacy
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFuaGx1Z2Nqcm9saWNmZWlqYWZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxNTI3NDUsImV4cCI6MjA5ODcyODc0NX0.D5xBZ48wjrX619li8baQYo_akK8q-LNAvpfr_HwsV4U
